<ng-container *ngIf="user$ | async as user">
  <mat-card class="p-5 m-5">
    <h2 class="mb-5">User Information</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Company</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>UID</mat-label>
        <!-- 一方向データバインディング -->
      <input matInput disabled value="{{ user.uid }}" name="UID">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <!-- 双方向データバインディング -->
          <input matInput [(ngModel)]="user.firstName" name="First name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Last Name </mat-label>
          <!-- 双方向データバインディング -->
          <input matInput [(ngModel)]="user.lastName" name="Last name">
        </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Department</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr>
      </table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr></table>
    </form>
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form> -->
    <div class="example-button-row mt-5">
      <button mat-raised-button color="primary" (click)="editConfirm(user.firstName, user.lastName, user.uid)">Confirm</button>
      <button mat-raised-button class="ml-2">Cancel</button>
    </div>
  </mat-card>
</ng-container>
