<main>
<!-- <main *ngIf="isLogin"> -->
  <!-- <main *ngIf="isLogin; else [routerlink]='/login'"> -->
    <section class="mw-95 py-5">
       <h2 class="mb-5 ml-2">Employee List</h2>
       <table class="table table-hover table-md ml-3 mr-3">
          <thead class="thead-light">
             <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">UID</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
             </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users$ | async; index as i">
             <!-- <tr *ngFor="let user of users$ | async; index as i"> -->
                <!-- <th scope="row">{{ i+1 }}</th> -->
                <th scope="row">{{ i+1 }}</th>
                <td> {{ user.firstName }} </td>
                <td> {{ user.lastName }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.uid }} </td>
                <td><button type="button" class="btn btn-warning" (click)="deleteUser(user)">Delete</button></td>
                <!-- データバインディング型であつかうことで操作しやすくなる -->
                <td><button [routerLink]="['users', user.uid]" type="button" class="btn btn-warning">Edit</button></td>
             </tr>
          </tbody>
       </table>
    </section>
  </main>
