<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 bg-primary">
      <div class="sidebar m-3 border border-light text-left">
        <mat-icon class="mt-4 ml-3" aria-hidden="false" aria-label="work">work</mat-icon>
        <p>Top News</p>
        <!-- <h2 class="mt-4 ml-3 font-weight-bold">Top News</h2> -->
        <ul style="list-style: none;">
          <li>
          </li>
          <li>
            Top Stories
          </li>
          <li>
            Top Stories
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 bg-secondary pt-3">
      <h2>Headlines</h2>
      <div class="headlines">
        <div class="headline-content p-3 m-3 border border-light rounded">
          <h3>Title</h3>
          <p>Content Content Content Content Content Content Content Content Content Content Content Content
             Content Content Content Content Content Content Content Content Content</p>
        </div>
        <div class="headline-content p-3 m-3 border border-light rounded">
          <h3>Title</h3>
          <p>Content Content Content Content Content Content Content Content Content Content Content Content
             Content Content Content Content Content Content Content Content Content</p>
        </div>
        <div class="headline-content p-3 m-3 border border-light rounded">
          <h3>Title</h3>
          <p>Content Content Content Content Content Content Content Content Content Content Content Content
             Content Content Content Content Content Content Content Content Content</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-warning">
      <div class="weather p-3 m-3 border border-light rounded">
        <h3>Today's Weather</h3>
      </div>
    </div>
  </div>
</div>
