<div class="container">
  <div class="row">
    <div class="col">
      <h2>Message List obtained from the Backend API</h2>
      <table class="table table-hover table-md ml-3 mr-3">
        <thead class="thead-light">
          <tr>
            <th id="th-id">ID</th>
            <th id="th-message">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let messageInfo of messageInfoList; index as i">
            <td>{{ messageInfo.id }}</td>
            <td>{{ messageInfo.message }}</td>
          </tr>
        </tbody>
      </table>

      <form #formCheck="ngForm" class="formCheck">
        <input type="text" class="input-text" id="form-id" name="message-id" [(ngModel)]="messageId">
        <input type="text" class="input-text" id="form-message" name="message" [(ngModel)]="message">
        <input type="button" id="register" value="Register" (click)="onClickRegister()">
        <input type="button" id="delete" value="Delete" (click)="onClickDelete()">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <h2>Article data</h2>
      <table class="table table-hover table-md ml-3 mr-3">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articleList">
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.text }}</td>
            <td>{{ article.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>








<!-- <input type="button" id="register" value="Register" (click)="onClickRegister($event)"> -->
<!-- <input type="button" id="update" value="Update" (click)="onClickUpdate($event)"> -->
