<div class="container">
  <div class="row">
    <div class="col">
      <h2>Message List obtained from the Backend API</h2>
      <!-- class="overflow-auto"でオーバーフローした分をスクロール表示にしてくれる -->
      <section class="chat overflow-auto" style="height: 480px" id="scroll-inner">
        <table class="table table-hover table-md ml-3 mr-3">
          <thead class="thead-light">
            <tr>
              <th id="th-no">No</th>
              <th id="th-message">Message</th>
              <th id="th-date">Date</th>
              <th id="th-icon"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let messageInfo of messageInfoList; index as i">
              <td>{{ messageInfo.no }}</td>
              <!-- Editボタンが押されなかったらこちらを表示 -->
              <ng-container *ngIf="!messageInfo.isEdit">
                <td width="500px">{{ messageInfo.message }}</td>
              </ng-container>
              <!-- Editボタンが押されたらこちらを表示 -->
              <ng-container *ngIf="messageInfo.isEdit">
                <div class="input-group">
                  <textarea [(ngModel)]="messageInfo.message" name="edit-comment" class="form-control"></textarea>
                </div>
              </ng-container>
              <!-- <td [(ngModel)]="messageInfo.message">messageInfo.message</td> -->
              <td>{{ messageInfo.date }}</td>
              <!-- <i class="fa fa-edit ml-2" title="Edit" (click)="message.isEdit = !message.isEdit"></i> -->
              <td>
                <!-- 以下はfont awesomeを利用 -->
                <i class="fa fa-edit ml-2" title="Edit" (click)="messageInfo.isEdit =! messageInfo.isEdit"></i>
                <i class="fa fa-trash ml-2" title="Delete" (click)="onClickDelete(messageInfo.no)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <form #formCheck="ngForm" class="formCheck ml-3">
        <!-- <mat-form-field appearance="fill">
          <mat-label>No.</mat-label>
          <input matInput type="text" class="input-text" id="form-id" name="message-id" [(ngModel)]="messageId">
        </mat-form-field> -->
        <div class="container">
          <!-- <div class="col">
            <input type="text" readonly class="form-control" value="Readonly" name="message-id" [(ngModel)]="messageId">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="text1">Text:</label>
            <input type="text" id="form-message" name="message" class="form-control" [(ngModel)="message"]>
          </div> -->
        </div>
        <!-- <mat-form-field appearance="fill" class="ml-3 mr-3">
          <mat-label>Text</mat-label>
          <input matInput type="text" class="input-text" id="form-message" name="message" [(ngModel)]="message">
        </mat-form-field> -->
        <div class="message-text mt-3 mb-3">
          <label for="text1">Text:</label>
          <input type="text" id="form-message" name="message" class="form-control" [(ngModel)]="message">
        </div>
        <button mat-raised-button id="register" value="Register" (click)="onClickRegister2(message)" color="primary">Register</button>
        <!-- <button mat-raised-button class="ml-3" id="delete" value="Delete" (click)="onClickDelete()" color="primary">Delete</button> -->
        <!-- <input type="button" id="register" value="Register" (click)="onClickRegister()"> -->
        <!-- <input type="button" id="delete" value="Delete" (click)="onClickDelete()"> -->
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <h2>Article data</h2>
      <table class="table table-hover table-md ml-3 mr-3">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articleList">
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.text }}</td>
            <td>{{ article.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>








<!-- <input type="button" id="register" value="Register" (click)="onClickRegister($event)"> -->
<!-- <input type="button" id="update" value="Update" (click)="onClickUpdate($event)"> -->
